<div th:fragment="new-product">
  <h2>Новый товар</h2>
  <form action="/product/add" method="post" enctype="multipart/form-data">
    <div class="row g-3 align-items-center">
      <input type="hidden" name="id">
      <div class="col align-self-start">
        <label for="newBarCode" class="col-form-label" style="width: 150px">Bar code:</label>
      </div>
      <div class="col align-self-end">
        <input class="form-control mt-2" style="width: 300px" type="text" width="200px" id="newBarCode"
               name="barCode" placeholder="Бар код" th:value="${code}">
      </div>
      <div class="col align-self-start">
        <label for="name" class="col-form-label" style="width: 150px">Hазвание:</label>
      </div>
      <div class="col align-self-end">
        <input class="form-control mt-2" style="width: 300px" type="text" id="name" name="name"
               placeholder="название">
      </div>
      <div class="col-auto">
        <label for="nameRus" class="col-form-label" style="width: 283px">Hазвание на русском:</label>
      </div>
      <div class="col-auto">
        <input class="form-control mt-2" style="width: 300px" type="text" id="nameRus" name="nameRus"
               placeholder="название рус">
      </div>
      <div class="col-auto">
        <label for="description" class="col-form-label" style="width: 283px">Oписание:</label>
      </div>
      <div class="col-auto">
        <input class="form-control mt-2" style="width: 300px" type="text" id="description"
               name="description" placeholder="описание">
      </div>
      <div class="col-auto">
        <label for="size" class="col-form-label" style="width: 283px">Размер:</label>
      </div>
      <div class="col-auto">
        <select class="form-select" id="size" name="size" aria-label="Default select example">
          <option selected value="">Выберите размер</option>
          <option value="0 размер">0 размер</option>
          <option value="1 размер">1 размер</option>
          <option value="2 размер">2 размер</option>
          <option value="3 размер">3 размер</option>
          <option value="4 размер">4 размер</option>
          <option value="5 размер">5 размер</option>
          <option value="6 размер">6 размер</option>
          <option value="7 размер">7 размер</option>
        </select>
      </div>
      <div class="col-auto">
        <label for="age" class="col-form-label" style="width: 283px">Возраст:</label>
      </div>
      <div class="col-auto">
        <select class="form-select" id="age" name="age" aria-label="Default select example">
          <option selected value="">Выберите возраст</option>
          <option value="1(с рождения)">1(с рождения)</option>
          <option value="2(с 6 месяцев)">2(с 6 месяцев)</option>
          <option value="3(с 12 месяцев)">3(с 12 месяцев)</option>
          <option value="4(с 18 месяцев)">4(с 18 месяцев)</option>
          <option value="с 4 месяцев">с 4 месяцев</option>
          <option value="с 5 месяцев">с 5 месяцев</option>
          <option value="с 6 месяцев">с 6 месяцев</option>
          <option value="с 7 месяцев">с 7 месяцев</option>
          <option value="с 8 месяцев">с 8 месяцев</option>
          <option value="с 1 года">с 1 года</option>
        </select>
      </div>
      <div class="col-auto">
        <label for="originPrice" class="col-form-label" style="width: 283px">Цена приходная:</label>
      </div>
      <div class="col-auto">
        <input class="form-control mt-2" style="width: 300px" type="text" id="originPrice" name="originPrice"
               placeholder="цена приходная">
      </div>

      <div class="col-auto">
        <label for="description" class="col-form-label" style="width: 283px">Цена продажная:</label>
      </div>
      <div class="col-auto">
        <input class="form-control mt-2" style="width: 300px" type="text" id="price" name="price"
               placeholder="цена продажная">
      </div>
      <div class="col-auto">
        <label for="category" class="col-form-label" style="width: 283px">Категория:</label>
      </div>
      <div class="col-auto">
        <div class="col-auto">
          <select class="form-select" id="category" name="category">
            <option selected value="">Выберите категорию</option>
            <option value="Молочные смеси">Молочные смеси</option>
            <option value="Каши">Каши</option>
            <option value="Пюре">Пюре</option>
            <option value="Соки, компоты, морсы и вода">Соки, компоты, морсы и вода</option>
            <option value="Печенье">Печенье</option>
            <option value="Подгузники">Подгузники</option>
            <option value="Трусики">Трусики</option>
            <option value="Чай">Чай</option>
            <option value="Влажные салфетки">Влажные салфетки</option>
            <option value="Гигиена и уход">Гигиена и уход</option>
            <option value="Для кормления">Для кормления</option>
            <option value="Для кормления">Разное</option>
          </select>
        </div>
      </div>
      <div class="col-auto">
        <label for="description" class="col-form-label" style="width: 283px">Kолличество:</label>
      </div>
      <div class="col-auto">
        <input class="form-control mt-2" style="width: 300px" type="number" id="count" name="count"
               placeholder="колличество">
      </div>
      <div class="col-auto">
        <label for="description" class="col-form-label" style="width: 283px">Критерия</label>
      </div>
      <div class="col-auto">
        <input class="form-control mt-2" style="width: 300px" type="text" id="criteria" name="criteria"
               placeholder="Критерия">
      </div>

    </div>

    <label for="image">Photos: </label>
    <input type="file" name="image" id="image" accept="image/png, image/jpeg">
    <button class="btn btn-success mt-2" type="submit" id="addToTable">Добавить в список</button>
  </form>
</div>